node-red-flow.json
[{"id":"310ef008.cef11","type":"mqtt-broker","z":"9e9f552b.6160a8","broker":"192.168.0.107","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"daa7f8da.255808","type":"mqtt in","z":"9e9f552b.6160a8","name":"Rotary","topic":"/sensors/rotary/3","broker":"310ef008.cef11","x":180,"y":140,"wires":[["1ff58622.e00a7a","8d18a0.ff72e76"]]},{"id":"83cef413.7c3108","type":"mqtt out","z":"9e9f552b.6160a8","name":"LED RED","topic":"/sensors/led/16","qos":"","retain":"","broker":"310ef008.cef11","x":360,"y":220,"wires":[]},{"id":"3b79a734.c48658","type":"mqtt out","z":"9e9f552b.6160a8","name":"LED Green","topic":"/sensors/led/17","qos":"","retain":"","broker":"310ef008.cef11","x":370,"y":320,"wires":[]},{"id":"8d335021.72ccb","type":"inject","z":"9e9f552b.6160a8","name":"ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":220,"wires":[["83cef413.7c3108"]]},{"id":"b436e003.4bc92","type":"inject","z":"9e9f552b.6160a8","name":"OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":280,"wires":[["83cef413.7c3108"]]},{"id":"2d87476c.d278b8","type":"inject","z":"9e9f552b.6160a8","name":"ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":340,"wires":[["3b79a734.c48658"]]},{"id":"cec4a550.313b58","type":"inject","z":"9e9f552b.6160a8","name":"OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":400,"wires":[["3b79a734.c48658"]]},{"id":"1ff58622.e00a7a","type":"debug","z":"9e9f552b.6160a8","name":"","active":true,"console":"false","complete":"false","x":370,"y":140,"wires":[]},{"id":"8d18a0.ff72e76","type":"freeboard","z":"9e9f552b.6160a8","name":"FB:Rotary","x":360,"y":60,"wires":[]}]